<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="./img/weather.png">

    <title>Docum</title>
</head>
<body>
    {{>headers}}  
    <form action="">
        <input type="text"  placeholder="Enter your City">
        <button>Search</button>
    </form>  
    <p id = "one"></p>
    <p id = "two"></p>
    <p id = "three"></p> <br>
    
    <p id = "four"></p>
    {{>footer}}

    <script src="/js/clientjs.js"></script>

</body>
</html>